<form
  #myForm="ngForm"
  [ngFormOptions]="{ updateOn: 'submit' }"
  (ngSubmit)="register($event, myForm)"
>
  <fieldset>
    <legend>Rejestracja</legend>
    <input
      type="text"
      name="firstName"
      #firstName="ngModel"
      placeholder="Imię"
      minlength="3"
      required
      ngModel
    />
    <div
      class="error"
      *ngIf="firstName.hasError('required') && firstName.touched"
    >
      Pole jest wymagane
    </div>
    <br />

    <input
      type="text"
      name="lastName"
      placeholder="Nazwisko"
      minlength="3"
      required
      ngModel
    />
    <br />

    <input type="text" name="email" placeholder="Email" ngModel email />
    <br />

    <input
      type="text"
      name="phoneNumber"
      placeholder="Telefon"
      ngModel
      pattern="^[0-9\-]*$"
    />
    <br />

    <label>
      <input type="radio" name="gender" value="0" ngModel required />
      Mężczyzna
    </label>
    <label>
      <input type="radio" name="gender" value="1" ngModel required />
      Kobieta
    </label>
    <br />
  </fieldset>
  <button type="reset">Reset</button>
  <button type="submit" [disabled]="myForm.invalid && false">
    Zarejestruj się
  </button>
</form>

<pre>{{ myForm.value | json }}</pre>
